name: Build and Deploy to Netlify
on:
  push:
    branches:
      - main
jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        name: Checkout

      - uses: actions/setup-node@v4
        name: Setup Node.js
        with:
          node-version: "22"

      - run: npm ci
        name: Install dependencies

      - run: npm run build
        name: Build project

      - run: npm run test:run
        name: Run tests

      - run: netlify deploy --no-build --dir=dist --prod -s 52dd3fac-5e8f-4d14-b610-302eb968fc2a --auth ${{ secrets.NETLIFY_AUTH_TOKEN }} --message "Deployed commit ${{ github.sha }}"
        name: Deploy to Netlify
